@{
    ViewBag.Title = "Erro 404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <section class="box nobox ">
                <div class="content-body">
                    <div class="row">
                        <div class="col-xs-12">

                            <h1 class="page_error_code text-primary">Erro 404</h1>
                            <h1 class="page_error_info">Desculpe! Ocorreu um erro, entre em contato com o departamento de T.I. </h1>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>